.icon {
    position: absolute;
    width: 40px;
    height: auto;
    z-index: 1000000;
}

.monster {
    width: 200px;
}

.object{
    width: 50px;
}

html { 
    /* background-color: black; */
  }

/* Hiding by default */

#jack, #jessie, #corny, #tristan, #dox, #diamond, #hannah, #medcalf, #fiona, #fairy, #annis, #kaiden, #deimos, #phobos
, #chekov, #gustavo, #jose, #robert, #chrisna, #lacroix {
    display: none;
    align: left;
}

.imageWrapper {
    position: relative;
}

.overlayImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: auto;
    display: block;
}