.icon {
    width: 50px;
    height: auto;
}

.monster {
    width: 200px;
}

.object{
    width: 50px;
}

html { 
    background: url(images/bg.PNG) no-repeat fixed; 
    -webkit-background-size: 1280px;
    -moz-background-size: 1280px;
    -o-background-size: 1280px;
    background-size: 1280px;
    background-color: black;
  }

/* Hiding by default */

#jack, #jessie, #corny, #tristan, #dox, #diamond, #hannah, #medcalf, #fiona, #fairy, #annis, #kaiden, #deimos, #phobos
, #chekov, #gustavo, #jose, #robert, #chrisna, #lacroix {
    display: none;
}
